.cl-red-primary-mate {
  color: #c15c5c;
}

.cl-blue-primary-mate {
  color: #5f8cab;
}

.bg-red-primary-mate {
  background-color: #c15c5c;
}

.bg-blue-primary-mate {
  background-color: #5f8cab;
}

.bg-red-secondary-mate {
  background-color: #a44e4e;
}
.bg-blue-secondary-mate {
  background-color: #417b80;
}

.icon-wh {
  color: #fff;
}

.btn-disabled {
  color: #d3d3d3;
}

.clock-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit;
  position: relative;
  top: 4rem;
  color: #fff;
  font-family: "ArialRounded", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.clock {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem 3rem;
  border-radius: 0.4rem;
}

.title-clock {
  margin-bottom: 3rem;
}

.clock-time-managment-container {
  display: flex;
  justify-content: center;
}

.handler-container {
  min-width: fit-content;
  padding-left: 2rem;
  padding-right: 2rem;
}

.level-buttons-container * {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.level-buttons-container > button {
  background: none;
  border: none;
  transition: color 0.5s ease-in-out;
}

.level-buttons-container > button:hover {
  color: #fcfcfc;
}

.clock-start-stop-buttons-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.clock-time-managment-container {
  margin-top: 1rem;
}

.start-stop-button {
  padding: 1rem 5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 120%;
  font-weight: 600;
  transition: background-color 0.5s ease-in-out;
}

.start-stop-button:hover {
  background-color: #fcfcfc;
}

.timer-label {
  display: inline-block;
  padding: 0.3rem;
  border-radius: 0.3rem;
  margin: 0;
}

.time-left {
  font-size: 6.5rem;
  margin: 1rem;
}
